edge/xflow/code/data
edge/others/*/code/vendor
edge/others/*/tools/
edge/others/fortify/fortify_linux
.idea
.DS_Store
/code/vendor/
/*/*/*/vendor/
/*/*/vendor/
/*/vendor/
/*/*/tools/
*/tools/
xflow/code/data/
docker-compose.yaml
edge/fortify/fortify_linux/
edge/others/*.json
edge/others/configs
edge/script/code/__pycache__/
edge/configs
/mnt/e/backup/edge/edge/xflow/code/thread_name_lst.json
test/*
edge/*/code/*/__pycache__/
edge/script/code/temp.py
edge/others/awvs/.scannerwork/